<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us | DiggitalWorld</title>
    <link rel="stylesheet" href="css/withdraw.css">
</head>
<body class="app">
    <div class="container">
        <header class="header-container">
            <img class="app-logo me-sm-5 mb-3 mb-sm-0" src="/img/logo.7b621426.svg" alt="">
            
                <div class="app-search">
                    <input id="contenido" name="contenido" type="text" value="https://diggitalWorld.com/auth/register?c=72799710">
                    <a id="copiar" class="copy-clipboard">
                        <svg class="app-search-icon" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zM5.003 8L5 20h10V8H5.003zM9 6h8v10h2V4H9v2z">
                            </path>
                        </svg>
                        <span id="message"></span>
                    </a>
                </div>
                <div class="userName"><p>
                    <% if (user) { %>
                        <span class="badge bg-success"><%= user.user %></span>
                    <% } %></p>
                </div>
            <!-- <img class="profile" src="/icons/8.png" alt="perfil"> -->
        </header>
    </div>

    <div class="main-container">
        <main class="app-main-container">
            <nav class="app-navbar">
                <ul class="menuTopIcons">
                    <li class="">
                        <a href="/">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/home.png" alt="Home">
                            </div>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="deposit">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/deposit.png" alt="Diposit">
                            </div>
                            <span class="deposit">Deposit</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="Team">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/afiliados2.png" alt="Team">
                            </div>
                            <span>Team</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="withdraw">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/finanzas.png" alt="Withdraw">
                            </div>
                            <span class="withdraw">Withdraw</span>
                        </a>
                    </li>
                    <!-- <li class="">
                        <a href="finance">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/retiro.png" alt="Finance">
                            </div>
                            <span>Finance</span>
                        </a>
                    </li> -->
                    <li class="nft">
                        <div class="app-navbar-icon">                        
                            <img src="/icons/NFT-icon.png" alt=" nft">
                        </div>
                        <span>NFT</span>
                    </li>
                    <li class="">
                        <a href="AboutUs">
                            <div class="app-navbar-icon">                        
                                <img src="/icons/tickets.png" alt="Interest">
                            </div>
                            <span class="about">Interest</span>
                        </a>
                    </li>
                </ul>
            </nav>    
        </main>
    </div>
    <main class="main">
        <div class="main-section">
            <section class="aboutUs">
                <h3>INVESTMENT MANAGEMENT</h3>
                <p>Diggitalworld is a legally registered private online investment company with the aim of making the highest possible profit from forex trading.</p>
                
                <p> We offer a variety of services to bring investors closer to projects and organizations that need capital.</p>

                <p> At Diggitalworld, we have been continuously transforming the traditional money management industry to open financial markets to everyone, everywhere..</p>

                <p>We help portfolio companies develop and execute strategic growth, build the board and executive management team, explore capitalization structures, pursue growth mergers and acquisitions, and enhance market presence.</p>
                
                <p>Our investment allies play a fundamental role in our company, investing funds in order to expand credit coverage for more people who need our services. The interest margin that is acquired for each financial credit is 5% daily for a period of 90 days, this being the maximum term of total payment of the credit. Our investment allies will have daily dividends of 3% generated from that 5% of the interest paid and the company will use the remaining 2% to cover operating expenses and its self-sustainability.</p>

                <p class="support-email">Support Email: <span>admin@diggitalWorld.com</span> </p>
            </section>
        </div>   
    </main>
    <footer class="footer">
        <section class="footer-container">
            <p class="text-footer">
                2022 © DiggitalWorld
                <span>All rights reserved</span>
            </p>
        </section> 
           
    </footer>


    <script src="js/btnCopy.js"></script>

</body>
</html>