<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | DiggitalWorld</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="app">
    <div class="container">
        <header class="header-container">
            <img class="app-logo me-sm-5 mb-3 mb-sm-0" src="./img/logo.7b621426.svg" alt="">
            
                <div class="app-search">
                    <input type="text" value="https://digitalWorld.com " name="contenido" id="contenido">
                        <a id="copiar" class="copy-clipboard">
                        
                            <svg id="copia" class="app-search-icon" viewBox="0 0 24 24">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path d="M7 6V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-3v3c0 .552-.45 1-1.007 1H4.007A1.001 1.001 0 0 1 3 21l.003-14c0-.552.45-1 1.007-1H7zM5.003 8L5 20h10V8H5.003zM9 6h8v10h2V4H9v2z">
                                </path>
                            </svg>
                            <span id="message"></span>
                    <div class="userName"><p>
                        <% if (user) { %>
                            <span class="badge bg-success"><%= user.user %></span>
                        <% } %></p>
                    </div>
                </div>
            <!-- <img class="profile" src="./icons/8.png" alt="perfil"> -->
            <div class="desktop-menu inactive">
                <a type="button" class="btn-logout" href="logout">Logout</a>
            </div>
        </header>
    </div>

    <div class="main-container">
        <main class="app-main-container">
            <nav class="app-navbar">
                <ul class="menuTopIcons">
                    <li class="">
                        <a href="/">
                            <div class="app-navbar-icon">                        
                                <img src="./icons/home.png" alt="Home">
                            </div>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="deposit">
                            <div class="app-navbar-icon">                        
                                <img src="./icons/deposit.png" alt="Diposit">
                            </div>
                            <span class="deposit">Deposit</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="team">
                            <div class="app-navbar-icon">                        
                                <img src="./icons/afiliados2.png" alt="Team">
                            </div>
                            <span>Team</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="withdraw">
                            <div class="app-navbar-icon">                        
                                <img src="./icons/finanzas.png" alt="Withdraw">
                            </div>
                            <span class="withdraw">Withdraw</span>
                        </a>
                    </li>
                    <!-- <li class="">
                        <a href="finance">
                            <div class="app-navbar-icon">                        
                                <img src="./icons/retiro.png" alt="Finance">
                            </div>
                            <span>Finance</span>
                        </a>
                    </li> -->
                    <li class="nft">
                            <div class="app-navbar-icon">                        
                                <img src="./icons/NFT-icon.png" alt=" nft">
                            </div>
                            <span>NFT</span>    
                    </li>
                    <li class="">
                        <a href="AboutUs">
                            <div class="app-navbar-icon">                        
                                <img src="./icons/tickets.png" alt="Interest">
                            </div>
                            <span class="about">Interest</span>
                        </a>
                    </li>
                </ul>
            </nav>    
        </main>
    </div>
    <header class="">''
        <div class="app-slider">
            <p>Espacion para poner noticias</p>
        </div>
    </header>
    
    <main class="main">
        <div class="main-section">
            <section class="overall-profit">
                <h2>overall profit</h2>
                <div class="benefits">
                    <img class="img-btc" src="/icons/btc.png" alt="">
                        <div class="saldoRetiro"><p>
                            <% if (user) { %>
                                <span class="badge bg-success"> <strong><%= user.saldoRetiro %></strong> USDT</span>
                            <% } %></p>
                        </div> 
                    <img class="img-wallet" src="/icons/wallet.png" alt="">
                </div>
            </section>
            <section class="active-contracts">
                
                <div class="investment">
                    <img src="/icons/contratos.png" alt="">
                    <div class="saldoDeposito"><p>
                        <% if (user) { %>
                            <span class="badge bg-success"> <strong><%= user.saldoDeposito %></strong> USDT</span>
                        <% } %></p>
                    </div> 
                </div>
                <div class="btn">
                    <a href="deposit" class="btn">New deposit</a>
                </div>
                <!-- <p>contactos activos</p> -->
            </section>
        </div>
        
    </main>
    <footer class="footer">
        <section class="footer-container">
            <p class="text-footer">
                2022 © DiggitalWorld
                <span>All rights reserved</span>
            </p>
        </section>  
        <section class="support">
            <p>Support Email</p>
            <p class="support-email">admin@diggitalWorld.com</p>
        </section>        
    </footer>

    <script src="/src/porcentaje.js"></script>
    <script src="js/btnCopy.js"></script>
    <script src="js/main.js"></script>

</body>
</html>